# Sharks attacks

In [1]:
# modules import
import re
import pandas as pd
from src.functions import sex_filter,fatal_filter,space_cleaner,age_cleaner

In [2]:
# Database import from Kaggle's csv

data = pd.read_csv("./input/GSAF5.csv",encoding='cp1252')

df = pd.DataFrame(data)
df = df[["Year","Country","Activity","Name","Sex ","Age","Fatal (Y/N)"]]

df.head()

   Year    Country Activity             Name Sex   Age Fatal (Y/N)
0  2016        USA  Surfing             male    M   16           N
1  2016        USA  Surfing   Chucky Luciano    M   36           N
2  2016        USA  Surfing             male    M   43           N
3  2016  AUSTRALIA  Surfing  Rory Angiolella    M  NaN           N
4  2016  AUSTRALIA  Surfing             male    M  NaN           N

In [3]:
# Checking zeroes

null_cols = df.isnull().sum()
null_cols
null_cols[null_cols > 0]

Country          43
Activity        527
Name            200
Sex             567
Age            2681
Fatal (Y/N)      19
dtype: int64

In [4]:
#Columns data types

print(df.dtypes)

Year            int64
Country        object
Activity       object
Name           object
Sex            object
Age            object
Fatal (Y/N)    object
dtype: object

In [5]:
# Filtering by year (1986-2016)

df = df[(df["Year"]>= 1900)]

#number of values matching the report range

print(df.shape)
print(df["Year"].value_counts().sort_index())

(5324, 7)
1900     13
1901      9
1902     15
1903     10
1904     13
       ...
2012    117
2013    122
2014    125
2015    139
2016    103
Name: Year, Length: 117, dtype: int64

In [6]:
# Fixing the name of the columns "Sex", it has an extra space at the end.

df = df.rename(columns={"Sex ":"Sex"})
df.head()

   Year    Country Activity             Name Sex  Age Fatal (Y/N)
0  2016        USA  Surfing             male   M   16           N
1  2016        USA  Surfing   Chucky Luciano   M   36           N
2  2016        USA  Surfing             male   M   43           N
3  2016  AUSTRALIA  Surfing  Rory Angiolella   M  NaN           N
4  2016  AUSTRALIA  Surfing             male   M  NaN           N

In [7]:
# Cleaning the "Sex" column

df["Sex"]= df["Sex"].fillna("Unknown")

df["Sex"] = df["Sex"].apply(sex_filter)

print(df["Sex"].value_counts().sort_index())

F           548
M          4268
Unknown     508
Name: Sex, dtype: int64

In [8]:
# Renaming the "fatal" column 

df = df.rename(columns={"Fatal (Y/N)":"Fatal"})
df["Fatal"]= df["Fatal"].fillna("Unknown")

In [9]:
# Cleaning "fatal" column

df["Fatal"]= df["Fatal"].fillna("Unknown")
df["Fatal"] = df["Fatal"].apply(fatal_filter)

print(df["Fatal"].value_counts().sort_index())

N          4036
Unknown      85
Y          1203
Name: Fatal, dtype: int64

In [10]:
# Cleaning "Country" column

df["Country"]= df["Country"].fillna("Country")
df["Country"] = df["Country"].apply(space_cleaner)

print(df["Country"].value_counts().sort_values())

IRELAND                1
NORTH SEA              1
THE BALKANS            1
GABON                  1
Seychelles             1
                    ...
BRAZIL               100
PAPUA NEW GUINEA     129
SOUTH AFRICA         535
AUSTRALIA           1124
USA                 1992
Name: Country, Length: 168, dtype: int64

In [11]:
# Cleaning "age" column

df["Age"]= df["Age"].fillna("Unknown")
df["Age"] = df["Age"].apply(age_cleaner)

set(df["Age"])

{0,
 1,
 '1',
 10,
 '10',
 11,
 '11',
 12,
 '12',
 '13',
 14,
 '14',
 15,
 '15',
 16,
 '16',
 17,
 '17',
 '18',
 19,
 '19',
 20,
 '20',
 '21',
 21,
 '22',
 23,
 '23',
 24,
 '24',
 25,
 '25',
 26,
 '26',
 27,
 '27',
 28,
 '28',
 29,
 '29',
 '3',
 30,
 '30',
 31,
 '31',
 32,
 '32',
 33,
 '33',
 '34',
 35,
 '35',
 '36',
 '37',
 '38',
 '39',
 39,
 40,
 '40',
 '41',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '49',
 '5',
 50,
 '50',
 '51',
 '52',
 '53',
 '54',
 55,
 '55',
 '56',
 '57',
 '58',
 '59',
 6,
 '6',
 60,
 '60',
 '61',
 '62',
 '63',
 '64',
 '65',
 '66',
 '67',
 '68',
 '69',
 7,
 '7',
 '70',
 '71',
 '72',
 '73',
 '74',
 '75',
 '77',
 '78',
 '8',
 80,
 '81',
 '84',
 '86',
 '87',
 9,
 '9',
 'Unknown'}